{% load static %}

<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

		<title>Story IX</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<input class="form-control" id="search" type="search" placeholder="Search" aria-label="Search">
			</div>
		</nav>
		
	<!-- Button trigger modal -->
	<div class="container mt-5 text-center">
		<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
			Show most likes books
		</button>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Highest likes</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

		<div class="container mt-5 mb-5">
			<table class="table table-bordered text-center">
				<thead class="thead-dark">
					<tr>
						<th style="width: 12%" scope="col">Sampul</th>
						<th style="width: 22%" scope="col">Judul</th>
						<th style="width: 16%" scope="col">Penulis</th>
						<th style="width: 16%" scope="col">Penerbit</th>
						<th style="width: 12%" scope="col">Tahun Terbit</th>
						<th style="width: 12%" scope="col">Kategori</th>
						<th style="width: 10%" scope="col">Likes</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
		<!-- Custom JavaScript -->
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>